footer {
  grid-column: 1/5;
  background-color: #333333;
  color: #f0f8ff;
}

.textFooter {
  font-size: 24px;
  text-transform: uppercase;
  color: #9292e7;
  text-align: center;
  margin-top: 30px;
}

.imgFooter {
  height: 50%;
}