/* Screen size less than 1280 */

.cntFrmLogin {
  margin: 1em auto;
  padding: 5px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formTitle {
  color: #444444 ;
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: center;
}

/* Screen size less than 1280 */
