.headerBudget {
  padding: 0 10px;
}
.cntHeaderLeft {
  display: flex;
  align-items: flex-end;
}

.imgHeaderBudget {
  width: 80px;
  margin-right: 2em;
}

.titleHeader {
  font-family: 'Roboto';
}

.cntHeaderRight {
  display: flex;
  align-items: center;
}

.btnSession {
  width: 200px;
  height: 40px;
  
  background-color: #353586;
  color: #ffe4c4;
  
  border: 1px solid #333333;
  border-radius: 15px;
  
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  
  text-transform: uppercase;
  
  cursor: pointer;

  margin-right: 2em;
}

.cntHeaderContent {
  display: flex;
  justify-content: space-between;
}