.cntAsideBtns {
  margin: 20px;
  padding-top: 10px;

  background-color: #adacac;

  height: 450px;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.btnAside {
  width: 90%;
  height: 80px;

  background: transparent;

  background-color: #353586;
  color: #ffe4c4;

  border: 1px solid #333333;
  border-radius: 15px;

  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';

  text-transform: uppercase;

  cursor: pointer;
}

.linkAside {
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  text-transform: uppercase;
}