/* Screen size less than 1280 */

.cntAsideBtns {
  margin: 20px;
  padding: 10px 0 10px 0;

  background-color: #adacac;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.linkAside {
  width: 90%;
  height: 80px;

  background-color: #353586;
  color: #ffe4c4;

  border: 1px solid #333333;
  border-radius: 15px;

  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Screen size less than 1280 */

@media (min-width: 1280px) {
  .cntAsideBtns {
    padding-top: 10px;
    height: 450px;
  }
}