/* Screen size less than 1280 */

.cntNavLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  width: 90%;
}

.linkNavHeader {
  text-transform: uppercase;
  text-decoration: none;
  color: brown;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto';
}

/* Screen size less than 1280 */
