.cntHeader {
  height: 220px;
  display: flex;
  padding: 5px 10px 0 10px;
}

.cntHeaderImg {
  width: 50%;
}

.imgHeader {
  width: 250px;
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(25, 32, 32);
}

.mainTitle {
  color: #444444;
  font-family: Roboto;
}