/* Screen size less than 1280 */

.frmRegister {
  display: inline-block;
  width: 95%;
  margin-top: 1em;
  max-width: 500px;
}

.lblFrmRegister {
  display: block;
}

.inputRegister {
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin-bottom: 1.8em;
}

.btnSubmitRegister {
  width: 100%;
  height: 50px;
}

.linkRegister {
  color: black;
  text-decoration: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

/* Screen size less than 1280 */
