/* Screen size less than 1280 */

.cntFrmRegister {
  padding: 5px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleRegister {
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
  font-family: 'Roboto';
}

/* Screen size less than 1280 */
