/* Screen size less than 1280 */

.card {
  background-color: #a3a4a8;
  box-shadow: 5px 5px 15px rgba(25, 32, 32);
  border-radius: 15px;
  width: 70%;
  height: 80px;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardNumber {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sctCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Screen size less than 1280 */

@media (min-width: 1280px) {
  .card {
    width: 250px;
    padding: 2em;
  }

  .sctCards {
    flex-direction: row;
    justify-content: space-around;
  }
}