/* Screen size less than 1280 */

.cntTableMov, .cntMovMov {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30px 30px;
  grid-column-gap: 5px;
}

.titleMov {
  background-color: #d3d2d2;
  color: #363535;
  text-align: center;
  height: 70px;
  padding-top: 16px;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}

.thType, .tdType {
  display: none;
}

.cntMovMov {
  margin-top: 0;
}

.rowMov {
  background-color: #ffffff;
  color: #2e2b2b;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  font-size: 12px;
}

.btnDelete {
  background: transparent;
  background-color: #ffffff;
  border: none;
  width: 15px;
  cursor: pointer;
}

.imgDelete, .imgUpdate {
  width: 15px;
}

.imgUpdate {
  border-radius: 10px;
}

.cntLinkUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Screen size less than 1280 */

@media (min-width: 1280px) {
  .cntTableMov, .cntMovMov {
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr;
  }

  .thType, .tdType {
    display: block;
  }
  
  .btnDelete, .imgDelete, .imgUpdate {
    width: 30px;
  }
}